@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 10% 95%;
    --foreground: 140 28% 15%;
    --card: 0 0% 100%;
    --card-foreground: 140 28% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 140 28% 15%;
    --primary: 141 28% 34%;
    --primary-foreground: 141 28% 98%;
    --secondary: 120 10% 88%;
    --secondary-foreground: 141 28% 34%;
    --muted: 120 10% 88%;
    --muted-foreground: 140 28% 35%;
    --accent: 81 60% 34%;
    --accent-foreground: 81 60% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 80%;
    --ring: 81 60% 34%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 141 35% 65%;
    --primary-foreground: 141 28% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 81 40% 50%;
    --accent-foreground: 81 60% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 141 35% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
